.menu
    a(href=`${baseUrl}${""}`)
        .logo
    ul.menu-wrapper
        li #[a(href=`${baseUrl}${"/menu"}`) Menu]
        li #[a(href=`${baseUrl}${"/locations"}`) Locations]
        li #[a(href=`${baseUrl}${"/contact-us"}`) Contact Us]